.summary {
	background-image: url(images/details.gif) !important;
}

.reading {
	background-image: url(images/article.gif) !important;
}

.refresh {
	background-image: url(images/arrow_refresh.png) !important;
}

.auto-refresh {
	background-image: url(images/cart_go.png) !important;
}

.tab-new {
	background-image: url(images/tab_new.gif) !important;
}

.delete {
	background-image: url(images/delete.png) !important;
}

.purge {
	background-image: url(images/lightning_delete.png) !important;
}

.details {
	background-image: url(images/details.gif) !important;
}

.open-all {
	background-image: url(images/tabs.gif) !important;
}

.pause {
	background-image: url(images/control_pause.png) !important;
}

.redeliver {
	background-image: url(images/cog.png) !important;
}

.destination {
	padding: 2px 0px 0px 20px;
	background: transparent url(images/bullet_white.png) no-repeat;
}

.queue.messages .destination {
	background: transparent url(images/bullet_green.png) no-repeat;
}

.queue.pending-messages .destination {
	background: transparent url(images/bullet_pink.png) no-repeat;
}

.destination b {
	font-family: tahoma, verdana;
	display: block;
	color: #333;
}

tr.queue {
	
}

tr.queue.pending-messages .x-grid-rowwrap-div {
}

tr.queue.messages .x-grid-rowwrap-div {
}

.servers {
	padding: 0 3px 0 3px;
}

.servers-item {
	margin-top: 3px;
	padding-left: 20px;
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	background: url(images/rss.gif) no-repeat 0 2px;
	border: 1px solid #fff;
}

.servers .x-item-selected {
	font-weight: bold;
	color: #15428B;
	background-color: #DFE8F6;
	border: 1px dotted #A3BAE9;
}

.servers-item-hover {
	background-color: #eee;
}

.destinations-grid .preview .x-grid-rowbody {
	padding-left: 26px;
	padding-top: 4px;
}

.messages-grid .preview .x-grid-rowbody {
	padding: 10px;
}

.preview .x-panel-body {
	background: #fff;
	color: #222;
	font: normal 12px tahoma, verdana, arial, sans-serif;
}

.preview .x-panel-body p {
	line-height: 18px;
	margin: 8px 0;
}

.preview .x-panel-body div.post-body {
	padding: 10px;
}